#root{
    width: 100%;
    height: 100%;
}
.tutor-search-form{
    display: flex;
    flex-direction: row;
    gap:10px;
}
.welcome-header{
    background-color: #e87400dc;
    border-radius: 8px;
    padding: 50px;
    margin-bottom: 30px;
}
.navbar{
    display: flex;
    flex-direction: row;
    background-color: #e87400dc;
}
.navbar-collapse{
    display: flex;
    flex-direction: row;
}
#logout-button{
    margin-right: 20px;
    align-self: flex-start;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}