.studentContent{
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    padding: 50px;
    margin-bottom: 30px;
}
.favoriteTutors{
    background-color: #e47a10dc;
    padding: 50px;
    border-radius: 8px;
}
.tutorCard{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    gap: 10px;
}
.searchResults{
    display: flex;
    flex-direction: row;
    margin: 1px;
    background-color: #e47a10dc;
    border-radius: 8px;
    align-items: center;
}
.buttons{
    display: flex;
    flex-direction: row;
}