.studentContent{
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    padding: 50px;
    margin-bottom: 30px;
}
.favoriteTutors{
    background-color: #e47a10dc;
    padding: 50px;
    border-radius: 8px;
}
.tutorCard{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    gap: 10px;
}
.searchResults{
    margin-top: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    align-items: center;
}